form.stripe-form {
    width: 25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.stripe-form fieldset {
    width: 25rem;
    height: 1rem;
}

@media (max-width:700px) {

    form.stripe-form {
        width: 15rem;
    }

    form.stripe-form {
        width: 15rem;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    form.stripe-form fieldset {
        width: 10rem;
        height: 1rem;
    }
}