.swiper-slide {
    display: flex;
}


@media (max-width: 700px) {
    .swiper-slide {
        flex-direction: column;
    }
}

.swiper-slide img {
    width: 100%;
    background-position: center;
    object-fit: cover;
    height: auto;
}