.swiper-slide {
    display: flex;
}


@media (max-width: 700px) {
    .swiper-slide {
        flex-direction: column;
    }
}

.swiper-slide img {
    width: 100%;
    background-position: center;
    object-fit: cover;
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
    color: #000 !important;
}

.swiper-button-next {
    padding: 1rem 0 1rem 1rem;
}

.swiper-button-prev {
    padding: 1rem 1rem 1rem 0;
}